<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>Email Generator</title>
</head>
<body>
  <!-- app -->
  <div id="app">
    <h1>{{ titolo }}</h1>
    <h3 v-if="emails.length < limit">loading...</h3>
    <ul v-else class="list-group">
      <li 
      class="list-group-items"
      v-for="email in emails">
      {{email}}
      </li>
    </ul>
  </div>
  <script src="./js/script.js"></script>
</body>
</html>

